<div class="container eng" >
    <div class="edit_content">
        <%= form_for @subcategory, :url => subcategories_path do |f| %>
        <p> <%= t :subcategory_name %>:  <%= f.text_field :name %></p>
        <%= f.file_field "file" %>
        <br /> <br />

        <%= f.submit "#{I18n.t :update}" %> 
        <%= f.submit "#{I18n.t :cancel}", :name => "cancel", :style=>"margin-left:95px"%>
        <% end %>
    </div>
</div>