<div id="page">
  <div id="container">
    <h1>Gallery of plants</a></h1>
     <!-- Start Advanced Gallery Html Containers -->
    <div id="gallery" class="content">
      <div id="controls" class="controls"></div>
      <div class="slideshow-container">
        <div id="loading" class="loader"></div>
        <div id="slideshow" class="slideshow"></div>
      </div>
      <div id="caption" class="caption-container"></div>
    </div>
    <div id="thumbs" class="navigation">
      
      <ul class="thumbs">
        <%@plants.each do |plant|%>
          <%unless plant.images.blank?%>        
            <li>
              <a class="thumb" href=<%= plant.images.where(:version => SIZE[:exact]).first.path%> title=<%= plant.name %>>
                <img src=<%= plant.images.where(:version => SIZE[:thumb]).first.path %> alt=<%= plant.name %> />
              </a>
              <div class="caption">
                <div class="download">
                  <a href=<%= plant.images.where(:version => SIZE[:full]).first.path%>>Download Original</a>
                </div>
                <div class="image-title"><%= plant.name %></div>
                <div class="image-desc">Description</div>
              </div>
            </li>
          <%end%>
        <%end%>
      </ul>
    </div>
    <!-- <div style="clear: both;"></div>
    </div> -->
  </div>
</div>