.row
  / Content
  .8u.skel-cell-important
    %section#content
      %table.table.table-striped.table-hover.table-responsive
        %thead
          %th #
          %th= Plant.human_attribute_name('name')
          %th= Plant.human_attribute_name('price')
          - unless @order && @order.persisted?
            %th
        %tbody
          - total = 0.0
          - @plants.each.with_index do |plant, i|
            %tr.presentable{ id: dom_id(plant)}
              %th= i + 1
              %th= link_to(plant.name, plant_path(plant))
              %th.price= plant.price
              - total += plant.price if plant.price
              - unless @order && @order.persisted?
                %th= link_to(t('views.shared.order.delete'), remove_plant_from_orders_path(ids: [plant.id]), remote: true, method: :delete)
          %tr.info
            %th Итого
            %th
            %th.total_price= total
            - unless @order && @order.persisted?
              %th= link_to(t('views.shared.order.delete_all'), remove_plant_from_orders_path(ids: [session[:order]]), remote: true, method: :delete)
    - if @order && @order.persisted?
      %header
        %h2
          %p
            Заказ создан
        %h3
          %p
            = "Ув #{@order.orderer_name}, проверте свою почту #{@order.orderer_email}"
    - else
      = link_to(t('views.shared.order.edit'), new_orders_path, class: 'button')

  / Sidebar
  #sidebar.4u
    %section

:javascript
  jQuery(document).ready(function($) {
    $('table tr.presentable').on('mouseover', function(){
      $.get("/plants/"+$(this).attr('id').replace('plant_', '') + '/details')
    });
  });
