:ruby
  set_meta_tags title: @plant.seo_title
  set_meta_tags description: @plant.seo_description
  set_meta_tags keywords: @plant.seo_keywords.join(',')
.row
  / Content
  .8u.skel-cell-important
    %section#content
      %header.inline_block
        %h2.float_left
          = @plant.name
        - if @plant.science_name.present?
          %span.byline
            = @plant.science_name
        = link_to(t("views.shared.order.#{@plant.disabled}"), order_plant_path(@plant),
          class: "button order_button btn #{@plant.disabled}", remote: true, method: :post)
      #page
        #container
          .navigation-container
            #thumbs.navigation
              %a.pageLink.prev{:href => "#", :style => "visibility: hidden;", :title => "Previous Page"}
              %ul.thumbs.noscript
                - @plant.images.each do |image|
                  %li
                    %a.thumb{:href => asset_path(image.path.main.url), :name => "leaf", :title => "Title #0"}
                      %img{:alt => "Title #0", :src => asset_path(image.path.thumb.url)}/
          .content
            .slideshow-container
              #controls.controls
              #loading.loader
              #slideshow.slideshow
            #caption.caption-container
              .caption
                -#.image-title
                -#  = @plant.name
                - @plant.attribute_names_to_display.each do |attr|
                  .image-desc
                    = @plant.class.human_attribute_name(attr)
                    = ':'
                    = @plant.send(attr)

              .photo-index
          / End Gallery Html Containers
          %div{:style => "clear: both;"}
  / Sidebar
  = render 'sidebar'

#fullImage.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .custom-modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

:javascript
  jQuery(document).ready(function($) {
    $('#fullImage').on('show.bs.modal', function (event) {
      var src = $('.advance-link').find('img').attr('src');
      $('#fullImage .modal-header img').remove();

      image = $('<img src="'+src.replace('main_', '')+'">')
        .load(function(){
          var padding = parseInt($('#fullImage .modal-header').css('padding'));
          $('#fullImage .custom-modal-dialog').css('width', parseInt(this.width) + padding*2);
        })
        .appendTo('#fullImage .modal-header');


    })

    // We only want these styles applied when javascript is enabled
    $('div.content').css('display', 'block');

    // Initially set opacity on thumbs and add
    // additional styling for hover effect on thumbs
    var onMouseOutOpacity = 0.67;
    $('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
      mouseOutOpacity:   onMouseOutOpacity,
      mouseOverOpacity:  1.0,
      fadeSpeed:         'fast',
      exemptionSelector: '.selected'
    });

    // Initialize Advanced Galleriffic Gallery
    var gallery = $('#thumbs').galleriffic({
      delay:                     2500,
      numThumbs:                 10,
      preloadAhead:              10,
      enableTopPager:            false,
      enableBottomPager:         false,
      imageContainerSel:         '#slideshow',
      controlsContainerSel:      '#controls',
      captionContainerSel:       '#caption',
      loadingContainerSel:       '#loading',
      renderSSControls:          true,
      renderNavControls:         false,
      playLinkText:              'Запустить показ',
      pauseLinkText:             'Остановить показ',
      nextPageLinkText:          'Next &rsaquo;',
      prevPageLinkText:          '&lsaquo; Prev',
      enableHistory:             true,
      autoStart:                 false,
      syncTransitions:           true,
      defaultTransitionDuration: 900,
      onSlideChange:             function(prevIndex, nextIndex) {
        // 'this' refers to the gallery, which is an extension of $('#thumbs')
        this.find('ul.thumbs').children()
          .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
          .eq(nextIndex).fadeTo('fast', 1.0);

        // Update the photo index display
        this.$captionContainer.find('div.photo-index')
          .html('Photo '+ (nextIndex+1) +' of '+ this.data.length);
      },
      onPageTransitionOut:       function(callback) {
        this.fadeTo('fast', 0.0, callback);
      },
      onPageTransitionIn:        function() {
        var prevPageLink = this.find('a.prev').css('visibility', 'hidden');
        var nextPageLink = this.find('a.next').css('visibility', 'hidden');

        // Show appropriate next / prev page links
        if (this.displayedPage > 0)
          prevPageLink.css('visibility', 'visible');

        var lastPage = this.getNumPages() - 1;
        if (this.displayedPage < lastPage)
          nextPageLink.css('visibility', 'visible');

        this.fadeTo('fast', 1.0);
      }
    });

    /**************** Event handlers for custom next / prev page links **********************/

    gallery.find('a.prev').click(function(e) {
      gallery.previousPage();
      e.preventDefault();
    });

    gallery.find('a.next').click(function(e) {
      gallery.nextPage();
      e.preventDefault();
    });

  });
