<div class="container eng" >
  <div class="show_content_wrapper">
    <div class="show_content">
      <%= will_paginate @page_categories %>
      <% @page_categories.each do |category| %>
        <div class="category_block">
          <%= category.name %>
          <div class="category_image_block">
            <a href=<%= admin_signed_in? ? edit_category_path(:id => category.id) : category_path(category) %>>
              <img src=<%= category.image ? category.image.path : ""%>></a>
          </div>
        </div>
      <% end %>
      <div class="category_block">
        <div class="category_image_block">
          <a href=<%= new_category_path %>><input type="button" value="Create new category"></a>
        </div>
      </div>  
    </div>
  </div>
</div>