!!!
%html
  %head
    - cache do
      = tag :meta, :charset => ::Flower::Application.config.encoding
      = tag :meta, :'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'
      = tag :meta, :name => 'viewport', :content => 'width=device-width, height=device-height'
      = tag :meta, :'http-equiv' => :msthemecompatible, :content => :no
      = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
      = stylesheet_link_tag 'basic'
      = stylesheet_link_tag 'galleriffic-5'
      = stylesheet_link_tag 'bootstrap_and_overrides'
      -#= stylesheet_link_tag 'black'
      %link{:href => "http://fonts.googleapis.com/css?family=Oxygen:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags    
    = display_meta_tags :site => Settings.site_title, :separator => '-', :og => {:title => :title}

    /[if lt IE 8]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag "application"
    /[if lte IE 8] <link rel="stylesheet" href="css/ie/v8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="css/ie/v9.css" />
  %body   
    #header
      = render 'layouts/header'        
    #main
      .container
        = yield
    #copyright
      .container
        design:
        %a{:href => "http://templated.co"} TEMPLATED   
        developer:     
        %a{:href => "https://www.linkedin.com/pub/anton-bogarsukov/49/438/568"} Anton
