!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %title= content_for?(:title) ? yield(:title) : "Flower"
    = csrf_meta_tags    
    
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    %link{:href => "http://fonts.googleapis.com/css?family=Oxygen:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 8]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag "application"
    /[if lte IE 8] <link rel="stylesheet" href="css/ie/v8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="css/ie/v9.css" />
  %body   
    #header
      = render 'layouts/header'        
    #main
      .container
        %header
          %h2 Gravida nibh quis urna
        .row
          .3u
            %section
              %a.image.full{:href => "#"}
                %img{:alt => "", :src => asset_path("pics01.jpg")}/
              %p Quisque dictum. Pellentesque viverra  enim. Integer nisl risus, sagittis convallis, rutrum id, elementum.
              %a.button{:href => "#"} Read More
          .3u
            %section
              %a.image.full{:href => "#"}
                %img{:alt => "", :src => asset_path("pics11.jpg")}/
              %p Pellentesque viverra  enim. Tristique ante ut risus. Quisque dictum. Integer sagittis convallis elementum.
              %a.button{:href => "#"} Read More
          .3u
            %section
              %a.image.full{:href => "#"}
                %img{:alt => "", :src => asset_path("pics12.jpg")}/
              %p Pellentesque viverra  enim. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum.
              %a.button{:href => "#"} Read More
          .3u
            %section
              %a.image.full{:href => "#"}
                %img{:alt => "", :src => asset_path("pics13.jpg")}/
              %p Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.
              %a.button{:href => "#"} Read More
        .divider  
        .row
          / Content
          .8u.skel-cell-important
            %section#content
              %header
                %h2 Integer gravida nibh quis urna
                %span.byline Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum
              %p
                %a.image.full{:href => "#"}
                  %img{:alt => "", :src => asset_path("pics02.jpg")}/
              %p
                This is
                = succeed "," do
                  %strong Monochromed
                = succeed "." do
                  %a{:href => "http://templated.co"} TEMPLATED
                %a{:href => "http://templated.co/license"} Creative Commons Attribution
                license, so use it for whatever (personal or commercial) – just give us credit! Check out more of our stuff at
                %a{:href => "http://templated.co"} our site
                or follow us on
                = succeed "." do
                  %a{:href => "http://twitter.com/templatedco"} Twitter
              %a.button{:href => "#"} Read More
          / /Content
          / Sidebar
          #sidebar.4u
            %section
              %header
                %h2 Gravida praesent
                %span.byline Praesent lacus congue rutrum
              %p Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Maecenas luctus lectus at sapien. Consectetuer adipiscing elit.
              %ul.default
                %li
                  %a{:href => "#"} Pellentesque quis lectus gravida blandit.
                %li
                  %a{:href => "#"} Lorem ipsum consectetuer adipiscing elit.
                %li
                  %a{:href => "#"} Phasellus nec nibh pellentesque congue.
                %li
                  %a{:href => "#"} Cras aliquam risus pellentesque pharetra.
                %li
                  %a{:href => "#"} Duis non metus commodo euismod lobortis.
                %li
                  %a{:href => "#"} Lorem ipsum dolor adipiscing elit.
          / Sidebar
    / Main
    / Footer          
    #copyright
      .container
        design:
        %a{:href => "http://templated.co"} TEMPLATED   
        developer:     
        %a{:href => "https://www.linkedin.com/pub/anton-bogarsukov/49/438/568"} Anton
        